{% extends "network/layout.html" %}

{% block body %}
    <h2>Edit post</h2>
    <hr>
    <form id="editPostForm" onsubmit="return false;">
        {% csrf_token %}
        <input id="post_id" type="number" required hidden value="{{ post_id }}">
        <div class="form-group input-group">
            <textarea required name="content" name="content" id="content" class="form-control custom-textarea" placeholder="What is happening?!">{{ content }}</textarea>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Save</button>
        </div>
    </form>
    <hr>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.querySelector("#editPostForm").addEventListener("submit", () => sendEditPost());
        });
        
        function sendEditPost() {
            const content = document.querySelector('#content').value;
            const csrfTokenElement = document.querySelector('[name=csrfmiddlewaretoken]').value;
            const post_id = document.querySelector('#post_id').value;

            fetch(`/edit/${post_id}`, {
                method: "POST",
                body: JSON.stringify({
                    content: content
                }),
                headers: {
                    "X-CSRFToken": csrfTokenElement,
                }
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
            })
            .catch(error => {
                console.log(error);
            })

            // Stop form from submitting
            return false;
        }
    </script>
{% endblock %}