{% extends "network/layout.html" %}

{% block body %}
    <h2>Following posts</h2>
    <hr>

    {% for post in current_page %}
        <div class="post">
            <div class="poster">
                <a href="{% url 'profile' post.poster %}">{{ post.poster }}</a>
            </div>
            <div class="content">{{ post.content }}</div>
            <div class="date">{{ post.date }}</div>
            <div class="likes">{{ post.likes }} like</div>
        </div>
    {% empty %}
        <div class="post">
            no posts
        </div>
    {% endfor %}
    
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          {% if not current_page.has_previous %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
          {% else %}
            <li class="page-item">
                <a class="page-link" href="{% url 'following' current_page.previous_page_number %}" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
          {% endif %}

          {% for i in pages.page_range %}
            {% if current_page.number == i %}
                <li class="page-item active"><a class="page-link" href="{% url 'following' i %}">{{ i }}</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="{% url 'following' i %}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}

          {% if not current_page.has_next %}
            <li class="page-item disabled">
                <a class="page-link">Next</a>
            </li>
          {% else %}
            <li class="page-item">
                <a class="page-link" href="{% url 'following' current_page.next_page_number %}" >Next</a>
            </li>
          {% endif %}
        </ul>
    </nav>
{% endblock %}