{% extends "network/layout.html" %}

{% block body %}
    <h2>All Posts</h2>
    <hr>

    <div id="new_post">
        <h2>New Post</h2>
        <form action="{% url 'new_post' %}" method="post">
            {% csrf_token %}
            <div class="form-group input-group">
                <textarea required name="content" id="content" class="form-control custom-textarea" placeholder="What is happening?!"></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Post</button>
            </div>
        </form>
        <hr>
    </div>

    <div id="all_posts">
        <form>
            <div id="csrf_token">{% csrf_token %}</div>
        </form>
        {% for post in current_page %}
            <div class="post">
                <div class="poster">
                    <a href="{% url 'profile' post.poster %}">{{ post.poster }}</a>
                </div>
                <div class="content">{{ post.content }}</div>
                <div class="date">{{ post.date }}</div>
                <div class="likes">
                    <span>{{ post.liked_by.count }}</span>
                    {% if post in user.likes.all %}
                        <a class="like-btn" data-id="{{ post.pk }}">❤️</a>
                    {% else %}
                        <a class="like-btn" data-id="{{ post.pk }}">🤍</a>
                    {% endif %}
                </div>
                {% if post.poster == user %}
                    <div><a href="{% url 'edit' post.pk %}">Edit</a></div>
                {% endif %}
            </div>
        {% empty %}
            <div class="post">
                no posts
            </div>
        {% endfor %}

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              {% if not current_page.has_previous %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
              {% else %}
                <li class="page-item">
                    <a class="page-link" href="{% url 'index' current_page.previous_page_number %}" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
              {% endif %}

              {% for i in pages.page_range %}
                {% if current_page.number == i %}
                    <li class="page-item active"><a class="page-link" href="{% url 'index' i %}">{{ i }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="{% url 'index' i %}">{{ i }}</a></li>
                {% endif %}
              {% endfor %}

              {% if not current_page.has_next %}
                <li class="page-item disabled">
                    <a class="page-link">Next</a>
                </li>
              {% else %}
                <li class="page-item">
                    <a class="page-link" href="{% url 'index' current_page.next_page_number %}" >Next</a>
                </li>
              {% endif %}
            </ul>
        </nav>
    </div>
{% endblock %}