{% extends "network/layout.html" %}

{% block body %}
    <h2>All Posts</h2>
    <hr>

    <div id="new_post">
        <h2>New Post</h2>
        <form action="{% url 'new_post' %}" method="post">
            {% csrf_token %}
            <div class="form-group input-group">
                <textarea required name="content" id="content" class="form-control custom-textarea" placeholder="What is happening?!"></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Post</button>
            </div>
        </form>
        <hr>
    </div>

    <div id="all_posts">
        {% for post in all_posts %}
            <div class="post">
                <div class="poster">
                    <a href="{% url 'profile' post.poster %}">{{ post.poster }}</a>
                </div>
                <div class="content">{{ post.content }}</div>
                <div class="date">{{ post.date }}</div>
                <div class="likes">{{ post.likes }} like</div>
            </div>
        {% empty %}
            <div class="post">
                no posts
            </div>
        {% endfor %}
    </div>
{% endblock %}