{% extends "network/layout.html" %}

{% block title %} {{ poster }} {% endblock %}

{% block body %}
    <h2>{{ poster }}</h2>

    {% if user.is_authenticated and user != poster %}
        <form action="{% url 'follow' %}" method="post">
            {% csrf_token %}
            <input type="text" name="poster" value="{{ poster }}" hidden>
            {% if poster in user.following.all %}
                <button name="follow" value="unfollow" type="submit" class="btn btn-danger">Unfollow</button>
            {% else %}
                <button name="follow" value="follow" type="submit" class="btn btn-primary">Follow</button>
            {% endif %}
        </form>
    {% endif %}
    <span id="followers">Followers: {{ user.followers.count }}</span>
    <span id="following">Following: {{ user.following.count }}</span>

    <div id="posts">
        {% for post in current_page %}
            <div class="post">
                <div class="poster">
                    <a href="{% url 'profile' post.poster %}">{{ post.poster }}</a>
                </div>
                <div class="content">{{ post.content }}</div>
                <div class="date">{{ post.date }}</div>
                <div class="likes">
                    <span>{{ post.liked_by.count }}</span>
                    {% if post in user.likes.all %}
                        <a class="like-btn" data-id="{{ post.pk }}">❤️</a>
                    {% else %}
                        <a class="like-btn" data-id="{{ post.pk }}">🤍</a>
                    {% endif %}
                </div>                {% if post.poster == user %}
                    <div><a href="{% url 'edit' post.pk %}">Edit</a></div>
                {% endif %}
            </div>
        {% empty %}
            <div class="post">
                No posts.
            </div>
        {% endfor %}

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              {% if not current_page.has_previous %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
              {% else %}
                <li class="page-item">
                    <a class="page-link" href="{% url 'profile' poster current_page.previous_page_number %}" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
              {% endif %}

              {% for i in pages.page_range %}
                {% if current_page.number == i %}
                    <li class="page-item active"><a class="page-link" href="{% url 'profile' poster i %}">{{ i }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="{% url 'profile' poster i %}">{{ i }}</a></li>
                {% endif %}
              {% endfor %}

              {% if not current_page.has_next %}
                <li class="page-item disabled">
                    <a class="page-link">Next</a>
                </li>
              {% else %}
                <li class="page-item">
                    <a class="page-link" href="{% url 'profile' poster current_page.next_page_number %}">Next</a>
                </li>
              {% endif %}
            </ul>
        </nav>
    </div>
{% endblock %}