.body {
    margin: 15px 20px;
}

#content {
    height: 120px;
}

.post {
    border: 1px solid rgba(0, 0, 0, .1);
    margin: 20px 0;
    padding: 7px 12px;
}

.poster {
    font-weight: 600;
}

.date {
    font-size: 13px;
    color: gray;
}

#followers {
    display: inline-block;
    margin-right: 20px;
}
#following {
    display: inline-block;
}

.btn {
    margin-right: 20px;
}

.like-btn {
    text-decoration: none;
    cursor: pointer;
}